*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  min-width: 320px;
  min-height: 100dvh;
  background-color:rgb(49, 49, 49);
  overflow-x:hidden;
  background-color:#f5f5f5;
}
