
.contato{
   padding: 100px 50px;
}

.contatoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contatoContainer div{
    text-align: center;
    margin-bottom: 25px;
}

.contatoContainer div h2{
    color: hsl(203, 100%, 18%);
    font-size: 30px;
    margin-bottom: 15px;
}

.contatoContainer div p{
    font-size: 18px;
}

.mainContent {
    padding-right : 20px;
    margin-left: 0; 
}
.Shifted{
    margin-left: 230px; 
}

@media screen and (max-width: 600px) {
    .Shifted {
        margin-left: 0; 
        z-index: 999999999;
    }
}