@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lightcyan: #00dbf2;
    --darkBlue:#203864;
    --darkRed: #f71e1e;
    --neutralYellow: #ffc400;
    --darkGray: #2b2b2b;
    font-size: 16px;
}

.Header{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 33px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    z-index: 99;
    align-items: center;
    max-height: 80px;
}

 .middleContent{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight:600;
    font-size: clamp(10px,20px,20px);
    margin-left: -15%;
    gap: 25%;
}


.Header .middleContent a{
    text-decoration: none;
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
}

.Header .btn{
    width: 9rem;
    height: 2rem;
    font-family: 'Roboto',Arial,sans-serif;
    background-color: var(--lightcyan);
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
    font-weight:500;
    padding: 20px;
    cursor: pointer;
    transition: color ease 5s;
}

.Header .btn:hover{
    background-color: hsl(186, 100%, 65%);
}

.Header .btn a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto',Arial,sans-serif;
}

.LogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px
}

.LogoContainer img{
    width: 180px
}

.LogoContainer div{
    width:2px;
    height: 50px;
    background-color: gray;
    margin-left: 15px;
}

@media screen and (max-width:850px){

    .Header{
        padding: 25px ;
        padding-right: 10px ;
    }
    .middleContent{
        font-size: 16px;
        gap:10px;
        margin-left:-10px
    
    }

    .LogoContainer img{
        width: 50px;
    }

    .Header .btn{
    width: 6.2rem;
    height: 2rem;
    padding: 0;
    cursor: pointer;
    font-size: 10px;
    transition: color ease 5s;
}


}
.principal{
    background-color:#fafafa;
    height: 100dvh;
    padding-top:calc(80px + 30px) ;
    padding-right:30px;
    padding-left:30px;
}

.noticias{
    width: 100%;
    height: 60%;
    background-color: white;
    padding-left: 20px;
    border: 1px solid #dddddd;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.info > .infoTitulo{
    color: var(--darkBlue);
    font-weight: 600;
    font-size: 35px;
}

.info .infoText{
    margin-top: 40px;
    font-size: 20px;
}


.options{
    width: 100vw;
    background-color: white;
    height: 30rem;
    margin-top: 100px;
    margin-left: -30px;
    padding: 30px;
}

.optionsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.optionItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.optionItem p{
    font-size: 20px;
    margin-top: 20px;
}


.icon1{
    width: 130px;
    height: 130px;
    background-color: var(--lightcyan);
    border-radius: 50px;
}

.icon2{
    width: 130px;
    height: 130px;
    background-color: var(--darkRed);
    border-radius: 50px;
}

.icon3{
    width: 130px;
    height: 130px;
    background-color: var(--neutralYellow);
    border-radius: 50px;
}

.icon4{
    width: 130px;
    height: 130px;
    background-color: var(--darkBlue);
    border-radius: 50px;
}

.footer{
    width: 100vw;
    margin-left: -30px;
    background-color: var(--darkGray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3.5rem;
}