@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --lightcyan: #00dbf2;
    --darkBlue:#203864;
    --darkRed: #f71e1e;
    --neutralYellow: #ffc400;
    --darkGray: #2b2b2b;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.Header{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 33px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    z-index: 99;
    align-items: center;
    max-height: 80px;
}

 .middleContent{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight:600;
    font-size: clamp(10px,20px,20px);
    margin-left: -15px;
    gap: clamp(10px,25px,40px);
}


.Header .middleContent a{
    text-decoration: none;
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
}

.Header .btn{
    width: 9rem;
    height: 2rem;
    font-family: 'Roboto',Arial,sans-serif;
    background-color: var(--lightcyan);
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
    font-weight:500;
    padding: 20px;
    cursor: pointer;
    transition: color ease 0.5s;
}

.Header .btn:hover{
    background-color: hsl(186, 100%, 65%);
}

.Header .btn p{
    text-decoration: none !important;
    color: white;
    font-family: 'Roboto',Arial,sans-serif;
    border: none;
}

.LogoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 20px;
    margin-left: -20px;
}

.LogoContainer img{
    width: 160px
}

.LogoContainer div{
    width:2px;
    height: 50px;
    background-color: gray;
    margin-left: 15px;
}

.LogoContainer span{
    margin-right: 16px;
    cursor:pointer;
}

@media screen and (max-width:850px){

    .Header{
        padding: 25px ;
        padding-right: 10px ;
    }
    .middleContent{
        font-size: 16px;
        gap:10px;
        margin-left:-10px
    
    }

    .LogoContainer img{
        width: 50px;
    }

    .Header .btn{
    width: 6.2rem;
    height: 2rem;
    padding: 0;
    cursor: pointer;
    font-size: 10px;
    transition: color ease 5s;
}


}
.principal{
    background-color:#fafafa;
    height: 100dvh;
    padding-top:calc(80px + 30px) ;
    padding-right:30px;
    padding-left:30px;
}

.noticias{
    width: 100%;
    height: 60%;
    background-color: white;
    border: 1px solid #dddddd;
}

.noticias h2{
    position: absolute;
    z-index: 2;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.slide-item{
    width: 100%;
    max-height: 320px;
    height: 320px;
    max-width: 1440px;
    object-fit: cover;
}

.sidebar{
    padding-top:calc(80px + 20px);
    height: 100vh;
    background-color: #161618;
    width: 230px;
    color: white;
    line-height: 40px;
    position: fixed;
}

.open{
    transform: translateX(0);
}

.closed{
    transform: translate(-100%)
}


.sidebar .items{
    margin-top: 40px;
    margin-left: 10px;
}



.items p{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
    cursor: pointer;
}

.items a{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.info > .infoTitulo{
    color: var(--darkBlue);
    font-weight: 600;
    font-size: 35px;
}

.info .infoText{
    margin-top: 40px;
    font-size: 20px;
}


.options{
    width: 100vw;
    background-color: white;
    height: 30rem;
    margin-top: 100px;
    margin-left: -30px;
    padding: 30px;
}

.optionsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

.optionItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.optionItem p{
    font-size: 20px;
    margin-top: 20px;
}


.icon1{
    width: 130px;
    height: 130px;
    background-color: var(--lightcyan);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon2{
    width: 130px;
    height: 130px;
    background-color: var(--darkRed);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon3{
    width: 130px;
    height: 130px;
    background-color: var(--neutralYellow);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon4{
    width: 130px;
    height: 130px;
    background-color: var(--darkBlue);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    /* Mudar para 2 colunas para telas de tablet */
    .optionsContainer {
        grid-template-columns: repeat(2, 1fr);
        /* Aumentar o gap para separar melhor os itens */
        gap: 30px; 
    }
    
    /* Garantir que a altura se ajuste com o novo layout */
    .options {
        height: auto; 
    }
}


.footer{
    width: 100vw;
    margin-left: -30px;
    background-color: var(--darkGray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3.5rem;
}