.loginContainer{
    padding:25px
}
.login{
    display: flex;
    position: relative;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    justify-content: space-around;
}

.loginTextInfo{
    max-width: 500px;
}

.loginTextInfo h2{
    color: var(--darkBlue);
    font-size: 3.6vw;
}

.loginTextInfo p{
    margin-top: 15px;
}

.loginInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 50px 30px;
    gap: 10px;
    width: 25%;
}

.loginInputContainer h2{
    color:#005387cc;
}

.loginInputContainer input{
    border: 2px solid var(--lightcyan);
    padding: 10px;
    border-radius: 13px;
    width: 100%;
    font-size: 14px;
}

.loginInputContainer .inputButton{
    width: 100%;
    font-weight: 600;
    color: white;
    background-color: var(--lightcyan);
    border:none;
    height: 40px;
    font-size: 18px;
    border-radius:13px;
    cursor: pointer;
}

.login .backButton{
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px;
    background-color: #dddddd;
    color: black;
    border-radius: 8px;
}

