.newsGridContainer{
   padding-top: 120px;
   padding-left: 20px;
}

.newsGridContainer h2{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 30px;
    color:var(--darkBlue);
    text-transform: uppercase;
}
.news{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
}
.main-content {
    padding-right : 20px;
    margin-left: 0; 
}
.Shifted{
    margin-left: 230px; 
}

.news > div {
    width: 250px;
    height: 280px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.new{
    max-width: 330px;
    cursor: pointer;
    text-overflow: ellipsis;
}

.new .newTitle{
    font-size:1rem;
    margin-top: 40px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.new .newImage{
    width: 150px;
    height: 150px;
    margin: auto ;
    background-color: red;
    margin-bottom: 25px;
}