.projetoContainer{
    padding-top: 100px;
    cursor: default;
    padding-left: 30px;
    padding-right: 30px;
}

.projetoContainer > div{
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(185, 185, 185, .7);
}

.projetoHead div{
    background-color: hsl(0, 0%, 75%);
    width: 130px;
    height: 2px;
    border: 2px;
    margin-top: 8px;
}

.projetoHead h1{
    display: flex;
    align-items: center;
}
.projetoParagrafo{
    margin-top: 30px;
}

.projetoParagrafo span, .projetoParagrafo p{
    font-size:13px;
    font-family:'Segoe UI', Arial, sans-serif;
    color:#626262;
}

.projetoParagrafo span{
    font-weight: 700;
}
.projetoParagrafo p{
    line-height: 1.25rem;
    text-indent: 2rem;
    text-align: justify;
}


@media screen and (max-width:500px){

    .projetoInfo p{
        font-size:12px
    }
}

.projetoContainer .projetoBtn{
    margin-top: 20px;
    display: flex;
    justify-self: center;
    background-color: var(--darkBlue);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0.5rem;
    text-decoration: bold;
    font-size: 1rem;
    cursor: pointer;
}

.mainContent {
    padding-right : 20px;
    margin-left: 0; 
}
.Shifted{
    margin-left: 230px; 
}

@media screen and (max-width: 600px) {


    .Shifted {
        margin-left: 0; 
        z-index: 999999999;
    }
    .projetoContainer{
        padding-left: 15px;
        padding-right: 0;
    }
}
