.projetosGridContainer{
   padding-top: 120px;
   padding-left: 20px;
}

.projetosGridContainer h2{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 30px;
    color:var(--darkBlue);
    text-transform: uppercase;
}

.projetos{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
}

.main-content {
    padding-right : 20px;
    margin-left: 0; 
}
.shifted{
    margin-left: 230px; 
}

.projetos > div {
    width: 250px;
    height: 280px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.projetosGridContainer .projetos a{
    text-decoration: none;
    color: var(--lightcyan);
    padding-top: 50px;
}

.projeto{
    max-width: 330px;
    cursor: pointer;
    text-overflow: ellipsis;
}

.projeto .projetoTitle{
    font-size:1rem;
    margin-top: 40px;
    margin-bottom: 12px;
}


.projeto .projetoImage{
    width: 150px;
    height: 150px;
    margin: auto ;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 25px;
}